@model IEnumerable<TallerMecanico.Models.Carros>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Carro asignado</h2>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionDetalles)
        </th>
        <th>
            @**@ Cliente
        </th>
        <th>
            @**@ Trabajador
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Estado1)
        </th>
        <th colspan="2"> </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Modelo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Color)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.codigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DescripcionDetalles)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Usuarios.Usuario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Usuarios1.Usuario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado.Estado1)
    </td>
    <td class="text-center">
        @Html.ActionLink("Ver Evidencia", "Evidencias", new { id = item.Id }, new { @class="btn btn-info"})
    </td>
    <td class="text-center">
        @Html.ActionLink("Liberar", "Liberar", new { id = item.Id }, new { @class = "btn btn-success" })
    </td>
</tr>
    }
</table>